.main {
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.main-title {
    display: flex;
    justify-content: flex-start;
    font-size: 1rem;
}

.tab-row {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.add-new {
        font-size: 0.90rem;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

a {
    display: flex;
    color: gray;
}