.main-panel {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    background-color: white;
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 1px #888888;
    margin-bottom: 1rem;
}