body {
  background-image: url("./Background.png");
  background-repeat: repeat;

}

.App {
  text-align: center;
}

.icons{
  background-color: white;
  display: flex;
  font-size: 3rem;
  padding-top: 0.85rem;
  padding-bottom: 0.89rem;
}

.curve{
  display: flex;
  z-index: 99;
}

.navbar {
  padding: 0;
}

.navbar-brand
    {
      font-size: 2rem;
      font-style: italic;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-left: 5rem;
    }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

